*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-size:100%;
}

.a{
	cursor:pointer;
	
}

h1{font-family:oblique}

.App {
position:relative;
width:100%;
min-height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
overflow:hidden;
overflow-y:auto;
}

.Main {
width:100%;
min-height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
	border:none;
}
